[package]
name = "tools"
version = "0.1.0"
publish.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true


[lints]
workspace = true

[lib]
path = "src/lib.rs"